h1{
    font-family: Cambria;
    font-weight: 10000;
    color: rgb(48, 79, 124);
}

h2,h4{
    font-family: Cambria;
    color: rgb(54, 87, 138);
}

h4{
    font-size: 120%;
}

h3{
    font-family: Cambria;
    color: rgb(47, 84, 139);
}

body {
    margin-left: 3%;
    background: #f3e7fa;
    font-family: Lucida Sans;
}

section.Pinfo{
    margin-right: 40%;
}

ul.navbar {
    list-style-type: none;
    padding: 80;
    margin: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

ul.navbar li {
    display: inline;
    padding: 10px 15px;
}

ul.navbar li a {
    font-family: Georgia;
    font-style: normal;
    color: rgb(63, 88, 156);
    text-decoration: none;
    font-size: 18px;
}

ul.navbar li a:hover {
    background-color: #f5d7d7;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 50px;
    margin: 20px 0;
}

img.hobby-image {
    width: 20%;
    height: auto;
    border-radius: 8px;
}

img.hobby-image:first-of-type {
    margin-right: 4%;
}

img.self-image {
    width: 30%;
    height: auto;
    border-radius: 8px;
}